{% extends 'base.html.twig' %}

{% block header %}
    <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>Contact List</h2>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Contacts</a></li>
            <li class="breadcrumb-item">list</li>
        </ul>
        <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
        <a
                href="{{ path('contact_create') }}"
                title="{{ 'title'|trans }}"
                class="btn btn-success btn-icon float-right"
        >
            <i class="zmdi zmdi-plus"></i>
        </a>
    </div>
{% endblock header %}

{% block body %}
    <div class="card project_list">
        <div class="table-responsive">
            <table class="table table-hover c_table theme-color">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone number</th>
                    <th class="hidden-md-down" width="150px">Email</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>
                        <a class="single-user-name" href="javascript:void(0);">{{ contact.firstName }} {{ contact.lastName }}</a><br>
                    </td>
                    <td>
                        <strong>eCommerce Website</strong><br>
                        <small>Cost: $215</small>
                    </td>
                    <td class="hidden-md-down">
                        <ul class="list-unstyled team-info margin-0">
                            {#                                            <li><img src="assets/images/xs/avatar2.jpg" alt="Avatar"></li>#}
                        </ul>
                    </td>
                    <td class="hidden-md-down">
                        <div class="progress">
                            <div class="progress-bar l-blue" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                        </div>
                    </td>
                    <td><span class="badge badge-info">Medium</span></td>
                    <td>25 Dec 2019</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}